div.row{
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    gap: 20px;
    grid-template-columns: minmax(100px, 1fr);
}
 ul, li{
     list-style: none;

}
div.devs{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    
}
div.devs img{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    border-radius: 80px;
    border:1px solid #ccc;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    font-size: 1.2em;
}
input{
    padding: 8px;
    border: rgb(47, 40, 78);
    background-color: rgb(229, 233, 248);
    margin-left: 16px;
    border-radius: 8px;
}
input[type="text"]{
    width: 90vh;
}
div#filteredOptions{
    margin: 16px;
    background-color: lightgrey;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color: rgb(85, 85, 126);
    font-weight: bold;
    font-size: 1.4em;
}
h1{
    font-size: 2em;
    text-align: center;
}