ul, li{
    list-style-type: none;
}

.clickable{
    cursor: pointer;
}

.deleteButton{
    color: white;
    font-weight: bold;
    background-color: #dd0000;
    margin-right: 10px;
    border-radius: 50%;
}