:host{
  display: block;
  text-align: cener;
}
.timeleft{
  font-size: 2em;
}
button~button{
  margin-left: 4px;
}

.phase0{
  color: purple;
}
.phase1{
  color: green;
}
.phase2{
  color: orange;
}
