<div [class]="'phase' + phase">
<div class="timeleft"> {{formatTimeLeft(timeLeft)}}</div>
<div>Exercício {{currentEx + 1}}/{{this.exercises.length}}: {{ this.exercises[currentEx].name }}

</div>
  <div>
    Repetição {{currentRep + 1}}/{{this.exercises[this.currentEx].repetitions}}
  </div>

  <div>
   {{ formaPhase(phase)}}
  </div>
</div>
  <div class="tools">
  <button (click)="start()" >Inicial</button>
  <button (click)="pause()" >Pausar</button>
  <button (click)="restart()">Reiniciar</button>
  <button (click)="next()" >Próximo</button>
</div>
