<h2>Resumo das Despesas</h2>
<table mat-table [dataSource]="despesasPorTipo">
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo de Despesa</th>
    <td mat-cell *matCellDef="let despesa">{{despesa.tipo | descTipo}}</td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>
  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor</th>
    <td mat-cell *matCellDef="let despesa">{{despesa.total | number:'1.2-2'}}</td>
    <td mat-footer-cell *matFooterCellDef> {{ calculaTotal() | number: '1.2-2'}} </td>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns ['tipo', 'valor'];"></tr>
  <tr mat-footer-row *matFooterRowDef="['tipo', 'valor']"></tr>
</table>

<h2>Discriminação de Despesas</h2>

<table mat-table [dataSource]="despesas">
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo de Despesa</th>
    <td mat-cell *matCellDef="let despesa">{{despesa.tipo | descTipo}}</td>
  </ng-container>
  <ng-container matColumnDef="fornec">
    <th mat-header-cell *matHeaderCellDef> Fornecedor</th>
    <td mat-cell *matCellDef="let despesa">{{despesa.fornec }}</td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data</th>
    <td mat-cell *matCellDef="let despesa">{{despesa.dia | number:'2.0-0'}}/{{ despesa.ano}}</td>
  </ng-container>
  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor</th>
    <td mat-cell *matCellDef="let despesa">{{despesa.valor | number:'1.2-2' }}</td>
  </ng-container>
  <tr mat-row *matHeaderRowDef="['tipo', 'fornec', 'data', 'valor']"></tr>
  <tr mat-row *matRowDef="let row; columns['tipo', 'fornec', 'data', 'valor']"></tr>
</table>

