<app-forms></app-forms>

<!-- Teste
<ul>
  <li>
    <a [routerLink]="['/filmes']" routerLinkActive="active">Filmes</a>
  </li>
  <li><a [routerLink]="['/todo-list/1']" routerLinkActive="active">Todo id 1</a></li>
  <li><a [routerLink]="['/todo-list/2']" routerLinkActive="active">Todo id 2</a></li>
</ul>
<button (click)="goToPage2()" >Ir para Todo List</button>


<router-outlet></router-outlet> -->
<!-- <h3>Cliclo de vida dos componentes</h3>
<button (click)="add()" >Adicionar um Componente</button>

<div *ngFor="let id of ids" >
  <app-refresh [id]="id" ></app-refresh>
  <button (click)="delete(id)" >X</button>
</div>

<h4>ngOnChanges</h4>
<div>Label: <input [(ngModel)]="label" ></div>
<app-counterchange [label]="label" [max]="10"></app-counterchange> -->
<!--
Toggle Button Simples
<button (click)="toggleShow()">Exibir/Ocultar</button>
<div *ngIf="exibir" >
  Esse elemento será exibido/ocultado
</div>
 -->
